extends layout

block content
    
    h1 #{category.name}
    h2 #{category.description}
    //- h4 Coins
    //- dt
    main
        -each coin in coins
            a(href=coin.url)
                .card
                    p #{coin.name}
                    p #{coin.description}
            
        .card
            a(href='/catalog/coin/create')
                include ../public/images/plus.svg
    .buttons
        a(href=category.url + '/update')
            button Update
        a(href=category.url + '/delete')
            button Delete
        a(href='/')
            button Back
