extends layout

block content
    p #{coin.name}
    p #{coin.description}
    p #{coin.coin}
    if coin.image 
        img(src=coin.image)
    .buttons
        a(href=coin.url + '/update')
            button Update
        form(action='' method='POST')
            button Delete
        a(href='/catalog/category/#{coin.category}')
            button back
